html {
  scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	color: black;
	text-align: left;
	font-size: 72px;
	margin: 0px auto;
	padding: 10px 0px 20px 50px;
	font-weight: 700;
}

a {
	color: rgb(66, 133, 244);
	text-decoration: none;
	padding: 0 15px 0px 15px;
	font-size: 24px;
}


a.contact:hover {
	color: rgb(66, 133, 244)
}

h2 {
	padding: 100px 0 25px 50px;
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 36px;
}

.brand {
	padding: 25px;
	text-align: center;
}

.brand-statement {
	margin: 0 auto;
	font-size: 24px;
	max-width: 75%;
}

.resume {
	text-align: center;
}

.resume-image {
	display: inline-block;
	max-width: 50%
}

.brand-elements {
	display: inline-block;
}

.headshot {
	max-width: 200px;
	padding: 15px 0 0 0;
}

.projects {
	text-align: center;
	padding: 20px 0 0 20px
}

.project {
	box-shadow: 1px 1px 2px 2px rgb(211, 211, 211);
	max-height: 200px;
	border-radius: 5px
}

.card {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	box-shadow: 1px 1px 20px 2px rgb(211, 211, 211);
	border-radius: 10px;
}

.section {
	color: black;
	font-size: 36px;
	font-weight: 700;
	padding: 20px 0 0 30px
}

.contact-info {
	font-size: 36px;
	padding: 100px
}

.contact-me {
	font-size: 14px;
	padding: 10px;
	color: rgb(66, 133, 244)
}

@media screen and (max-width: 600px) {
	.small{
		padding: 5px;
		font-size: 24px;
	}
	a {
		padding: 5px;
	}
	.nav-link {
		font-size: 18px;
	}
	.brand-statement {
		font-size: 16px;
	}
	.projects {
		text-align: center;
	}
	.project {
		display: inline-block
	}
	.email{
		font-size: 18px;
	}

}

@media screen and (max-width: 1000px) {
	.small{
		padding: 5px;
		font-size: 24px;
	}
	a {
		padding: 5px;
	}
	.nav-link {
		font-size: 18px;
	}
	.brand-statement {
		font-size: 16px;
	}
	.projects {
		text-align: center;
	}
	.project {
		display: inline-block
	}
	.email{
		font-size: 24px;
	}
}