html {
  scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
	text-align: center;
}

header {
	display: flex;
	justify-content: space-between;
	color: black;
	text-align: left;
	font-size: 72px;
	margin: 0px auto;
	padding: 10px 20px 20px 50px;
	font-weight: 700;
}

.small-nav{
	display: none
}

a {
	color: rgb(66, 133, 244);
	text-decoration: none;
	padding: 0 10px 0px 10px;
	font-size: 24px;
}

h2 {
	padding: 100px 0 25px 50px;
	font-size: 24px;
	font-weight: 700;
}

h3 {
	font-size: 36px;
}

.brand {
	padding: 25px;
	text-align: center;
}

.brand-statement {
	margin: 0 auto;
	font-size: 20px;
	max-width: 85%;
}

.resume {
	text-align: center;
}

.resume-image {
	display: inline-block;
	max-width: 50%
}

.brand-elements {
	display: inline-block;
}

.headshot {
	max-width: 200px;
	margin: 15px;
	box-shadow: 1px 1px 20px 2px rgb(211, 211, 211);
	border-radius: 10px;
}

.skills {
	padding-bottom: 75px;
}

.icon {
	max-width: 45px;
	padding-right: 25px;
}

.projects {
	text-align: center;
	padding: 20px 0 0 20px
}

.project {
	box-shadow: 1px 1px 2px 2px rgb(211, 211, 211);
	max-height: 200px;
	border-radius: 5px
}

.card {
	display: inline-block;
	padding: 15px;
	margin: 15px;
	max-width: 35%;
	box-shadow: 1px 1px 20px 2px rgb(211, 211, 211);
	border-radius: 10px;
}

.contact-info {
	padding: 100px;
}

.email {
	font-size: 24px;
}

.contact-me {
	font-size: 14px;
	padding: 10px;
	color: rgb(66, 133, 244);
	outline: none;
	border-radius: 5px;
	border: none;
	box-shadow: 1px 1px 2px 2px rgb(211, 211, 211)
}

footer {
	/* background-color: rgb(66, 133, 244); */
	padding-top: 15px;
	text-align: center;
}

.footer-link {
	color: black;
	display: inline-block;
}

@media screen and (max-width: 700px) {
	.header {
		padding: 5px;
	}
	.large-nav {
		display: none;
	}
	.small-nav {
		display: contents;
		background-color: rgb(66, 133, 244);
		color: white;
	}
	a {
		padding: 0 5px 0 5px;
	}
	.nav-link {
		font-size: 10px;
	}
	.brand-statement {
		font-size: 16px;
		max-width: 100%
	}
	.projects {
		text-align: center;
	}
	.project {
		display: inline-block;
		max-width: 75%
	}
	.email{
		font-size: 14px;
	}
	.card{
		max-width: 75%;
	}
	#section-header {
		font-size: 18px
	}
	.contact-me {
		display: none;
	}
	footer {
		text-align: center;
		background-color: rgb(66, 133, 244);
	}
	.footer-nav {
		display: inline-block;
	}
	.footer-link {
		color: black;
		font-size: 12px;
	}
}


@media screen and (max-width: 1024px) {
	.header {
		background-color: rgb(66, 133, 244);
		color: black;
		padding-left: 15px;
		font-size: 24px;
	}
	nav {
		text-align: right;
		background-color: rgb(66, 133, 244);
	}
	.small-nav {
		color: white;
	}
	a {
		padding: 0 5px 0 5px;
	}
	.nav-link {
		font-size: 14px;
	}
	.brand-statement {
		font-size: 14px;
		max-width: 100%;
	}
	.icon {
		max-width: 30px;
		padding-right: 10px; 
	}
	.projects {
		text-align: center;
	}
	.project {
		display: inline-block;
		max-width: 75%
	}
	.email{
		font-size: 14px;
	}
	.card{
		max-width: 75%;
	}
	.contact-me {
		display: none;
	}
	footer {
		text-align: center;
		/* padding: 10px; */
		font-size: 12px;
	}
	.footer-nav {
		display: inline-block;
		/* font-size: 24px; */
	}
	.footer-link {
		color: black;
	}
	h6{ 
		text-align: center;
	}
}