body {
	background-image: url("skyline.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	font-family: 'Times New Roman', Times, serif;
}

header {
	background: black;
	color: rgb(255, 255, 255);
	text-align: left;
	font-size: 72px;
	margin: 0px auto;
	padding: 10px 0px 20px 50px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-weight: 300;
}

a {
	color: black;
	text-decoration: none;
	padding: 10px 30px 0px 30px;
	font-size: 24px;
	font-weight: 700;
}

a:hover {
	color: #1155A2
}

.nav-link {
	font-size: 36px;
	border-radius: 50px;
}

h1 {
	color: black;
	text-decoration: none;
	font-size: 80px;
	font-weight: 700;
}

h2 {
	color: black;
	padding: 0 0 0 50px;
	/* text-decoration: underline; */
	font-size: 24px;
	font-weight: 700;
}

p {
	text-align: center;
}

nav {
	max-width: 500px;
	padding: 30px 0 0 15px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-weight: 100;
}

img {
	height: 200px;
	width: 300px;
}

.projects {
	padding: 20px 0 0 30px
}

.project {
	border: 2px solid rgb(89,89,89)
}

.contact {
	padding: 60px 0 0 0;
}

.section {
	color: black;
	text-decoration: underline;
	font-size: 24px;
	font-weight: 700;
}

ul {
	list-style-type: none;
	display: inline;
}

li {
	color: rgb(89,89,89);
	text-decoration: none;
	font-size: 24px;
	font-family: Helvetica;
	font-weight: 700;
}

@media screen and (max-width: 576px) {
	.small{
		font-size: 50px;
	}
}